<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1st.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6C3F90A1E0148530025D22D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6C3F9231E0148540025D22D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6C3F92E1E0148540025D22D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
